@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background images/textures */
.bg-circuitboard {
  background-image: url("/images/circuit-board.svg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

.text-clamp-lg {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.text-clamp-md {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

