@tailwind base;
@tailwind components;
@tailwind utilities;

.skyGradientBackground {
  background: rgb(213, 240, 239);
  background: radial-gradient(
    circle,
    rgba(213, 240, 239, 1) 0%,
    rgba(118, 206, 240, 1) 100%
  );
}

/* Background images/textures */
.bg-circuitboard {
  background-image: url("/images/circuit-board.svg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

.text-clamp-xl {
  font-size: clamp(3.5rem, 10vw, 10rem);
}

.text-clamp-lg {
  font-size: clamp(0.85rem, 2.39vw, 2.4rem);
}

.text-clamp-md {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}
